/* FONT */

header{
        font-family: "Nerko One", cursive;
}

main, footer{
    font-family: "Montserrat", sans-serif;
}

/* DEFAULT */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}

ul, ol{
    list-style: none;
}

:root{
    --brand-color: #7C69A4;
    --title-color: #FF9614;
    --main-background: #F6F5F3;
}

/* DEBUG */

.debug{
    border: 1px solid red;
}

/* DESKTOP FIRST */

.container{
    /* min-width: 992px; */
    margin: 0 auto;
}

.container-md{
    padding: 60px 60px 0 60px;
    margin: 0 auto;
    /* max-width: fit-content; */
    max-width: 1400px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */

.row-title{
    padding: 30px;
}

.col-100{
    width: 100%;
}

.title-nav{
    color: var(--title-color);
    font-size: 60px;
}

/* MAIN */

main{
    background-color: var(--main-background);
}

/* .row-hero{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* HERO */

.col-70{
    width: 70%;
}

.col-30{
    width:30%;
}

.col-30.col-30-list{
    background-color: white;
}

.col-30-list{
    padding: 40px;
    line-height: 30px;
}

.col-100-title1{
    margin-bottom: 20px;
    color: #A599A5;
}

.col-100-title2{
    margin-bottom: 40px;
    color: #4E3969;
    font-size: 54px;
    font-weight: 800;
}

.title-list{
    margin-bottom: 30px;
}

/* SOCIAL */

.row-social{
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.col-1_5{
    width: calc(100% / 5);
    padding: 12px 65px;
    background-color: white;
    border-radius: 999px;
}

.container-md-social{
    padding: 0 20px 0 20px;
}

.social-btn{
    font-size: 17px;
    font-weight: 500;
}

/* MEDIA QUERY */

@media (max-width: 991.99px){

    .container-nav{
        max-width: 991.99px;
    }

    .container-md{
        max-width: 920px;
    }

    .row-title{
        width: 100%;
    }

    .row.row-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .col-70{
        height: 70%;
        width: 100%;
    }

    .col-30{
        height: 30%;
        width: 100%;
    }

    .col-100-title2{
        font-size: 39px;
    }

    .hero-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-33{
        width: calc(100% / 3);
    }
}

@media (max-width: 767.99px){

    .container-nav{
        max-width: 767.99px;
    }

    .row-title{
        width: 100%;
    }

    .title-nav{
        text-align: center;
    }

    .container-md{
        max-width: 614px;
        padding: 30px;
    }

    .col-100-title2{
        font-size: 30px;
    }

    span{
        display: none;
    }

    .col-100-title1{
        margin-bottom: 20px;
    }

    .col-100-title2{
        margin-bottom: 20px;
    }

    .col-33{
        width: 100%;
        row-gap: 20px;
    }

    li{
        margin-bottom: 20px;
    }
}